{% extends 'base.html' %}

{% block content %} 
<div class="row">
    <div class="col-4">
        <form action="/found/pet/" method="POST">
            {% csrf_token %}
            <label class="form-label" for="pet_id">Enter TAG code:</label>
            <input class="form-control" name="pet_id" type="text"><br>
            <button type="submit" class="btn btn-secondary ">Search</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        
    </div>
</div>
{% endblock %}