<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <a class="text-white" href="/home/">Home</a><br>
        <a class="text-white" href="/edit/user/">My Profile</a><br>
        <a class="text-muted" href="/logout/">Sign-off</a><br>
        {% if logged_user.id == 1 %}
        <a class="text-muted" href="/admin/">Admin</a>
        {% endif %}
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Welcome to PetSafe, {{ logged_user.fname }}</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
    </div>
</nav>