{% extends 'base.html' %}
{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Please Register</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form class="border border-success p-5" action="/add/user/" method="POST">
                <h4>New User</h4>
                {% if messages %}
                    {% for message in messages %}
                        {%if "register" in message.tags %}
                    <ul>
                        <li style="color: brown;">{{message}}</li>
                    </ul>
                        {% endif %}
                        {%if "success" in message.tags %}
                    <ul>
                        <li style="color: green;">{{message}}</li>
                    </ul>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                {% csrf_token %}
                <label class="form-label" for="fname">Name:</label>
                <input class="form-control" name="fname" type="text">
                <label class="form-label" for="lname">Last Name:</label>
                <input class="form-control" name="lname" type="text">
                <label class="form-label" for="cedula">ID:</label>
                <input class="form-control" name="cedula" maxlength="10" type="text">
                <label class="form-label" for="direccion">Address:</label>
                <input class="form-control" name="direccion" maxlength="100" type="text">
                <label class="form-label" for="hphone">Home Phone:</label>
                <input class="form-control" name="hphone" maxlength="10" type="text">
                <label class="form-label" for="cphone">Cell Phone:</label>
                <input class="form-control" name="cphone" maxlength="10" type="text">
                <label class="form-label" for="sexo">Gender:</label>
                <select class="form-control" name="sexo" id="sexo">
                    {% for gender in genders %}
                    <option value="{{gender.id}}">{{gender.gender}}</option>
                    {% endfor %}
                </select>
                <label class="form-label" for="dob">Date of Birth:</label>
                <input class="form-control" name="dob" maxlength="10" type="date">
                <label class="form-label" for="email">E-mail:</label>
                <input class="form-control" type="email" name="email" id="email">
                <label class="form-label" for="pwd">Password:</label>
                <input class="form-control" type="password" name="pwd" id="pwd">
                <label class="form-label" for="cpwd">Confirm Password:</label>
                <input class="form-control" type="password" name="cpwd" id="cpwd"><br>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}