{% extends 'base.html' %}
{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Please Register Your Pet Here!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form class="border border-success p-5" action="/add/petUser/" method="POST" enctype="multipart/form-data">
                <h4>New Pet</h4>
                {% if messages %}
                    {% for message in messages %}
                        {%if "register" in message.tags %}
                    <ul>
                        <li style="color: brown;">{{message}}</li>
                    </ul>
                        {% endif %}
                        {%if "success" in message.tags %}
                    <ul>
                        <li style="color: green;">{{message}}</li>
                    </ul>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                {% csrf_token %}
                {{ pet_image.media }}
                {{ pet_image.as_p }}

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}