{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pets Care an Animals Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Pets Care Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Custom Theme files -->
	<link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
	<link href="{% static 'css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css' />
	<!-- easy-responsive-tabs -->

	<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!-- font-awesome icons -->
	<!-- //Custom Theme files -->
	<!-- js -->
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<!-- //js -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Junge" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
	    rel='stylesheet' type='text/css'>
	<!-- //web-fonts -->
</head>

<body>
	<div class="agileits-banner about-w3banner">
		<div class="bnr-agileinfo">
			
			{% include 'navbar.html' %}	
		</div>
	</div>

	<div class="contact">
		<div class="container">
			<h3 class="agileits-title">Edit your Pet Information</h3>
			<a href="/mypet/{{pet_to_edit.id}}" class="button button-isi"><span><i class="icon glyphicon glyphicon-arrow-left"></i> Back</span></a>
			<div class="contact-agileinfo">
				<div class="col-md-4"></div>
				<div class="col-md-4 contact-right">
					<form action="/edit/pet/{{pet_to_edit.id}}/" method="post" enctype="multipart/form-data">
						{% if messages %}
                    {% for message in messages %}

                    <ul>
                        <li style="color: brown;">{{message}}</li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                {% csrf_token %}
				<label class="form-label" for="pet_name">Pet Name:</label>
                <input class="form-control" placeholder="Enter Pet Name" value="{{ pet_to_edit.pet_name }}" name="pet_name" type="text">
                <label class="form-label" for="pet_birth_date">Birth Day:</label>
                <input class="form-control" name="pet_birth_date" value="{{ up_date }}" type="date">
                <label class="form-label" for="pet_type">Pet Type:</label>
                <select class="form-control" name="pet_type" maxlength="100" type="text">
                    <option value ='{{ pet_to_edit.pet_type.id }}'>{{ pet_to_edit.pet_type.specie }}</option>
                    {% for type in pet_type %}
                        <option value="{{type.id}}">{{type.specie}}</option>
                    {% endfor %}
                </select>
                <label class="form-label" for="pet_breed">Breed:</label>
                <input class="form-control" placeholder="Enter Pet Breed" value="{{ pet_to_edit.pet_breed }}" name="pet_breed" maxlength="30" type="text">
                <label class="form-label" for="pet_gender">Gender:</label>
                <select class="form-control" name="pet_gender" maxlength="10" type="text">
					{% if pet_to_edit.pet_gender == "Hembra"  %}
                    <option value ='Hembra'>Hembra</option>
					<option value ='Macho'>Macho</option>
					{% endif %}
					{% if pet_to_edit.pet_gender == "Macho"  %}
					<option value ='Macho'>Macho</option>
                    <option value ='Hembra'>Hembra</option>
					{% endif %}
                </select>
                <label class="form-label" for="pet_weight">Weight [kg]:</label>
                <input class="form-control" placeholder="0.00" value="{{ pet_to_edit.pet_weight }}" name="pet_weight" type="Number"></input>
                <label class="form-label" for="pet_color">Color:</label>
                <input class="form-control" placeholder="Enter Pet Color" value="{{ pet_to_edit.pet_color }}" name="pet_color" type="Text"></input>
                <label class="form-label" for="description">Description:</label>
                <textarea class="form-control" placeholder="Enter a brief description of your pet!" name="description" type="Text">{{ pet_to_edit.description }}</textarea>
                <br>
				<img src="{{ pet_to_edit.pet_image.url }}" alt=" " class="img-responsive" />
                <label class="form-label" for="pet_image">Select your Pet Photo:</label>
                <br>
                <input  type="file" name="pet_image" id="pet_image" accept="image/pet_image/*">
                <br><br>
				<input type="submit" value="Update">
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<!-- text-effect -->
	<script type="text/javascript" src="{% static 'js/jquery.transit.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.textFx.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('.w3ls_agile').textFx({
				type: 'fadeIn',
				iChar: 100,
				iAnim: 1000
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('.w3_text').textFx({
				type: 'fadeIn',
				iChar: 100,
				iAnim: 1000
			});
		});
	</script>

	<!-- //copy right end here -->


	<!-- script for responsive tabs -->
	<script src="{% static 'js/easy-responsive-tabs.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
	<!-- script for responsive tabs -->
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>