{% extends 'base.html' %}
{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron bg-light bg-gradient">
                <h1 class="display-4">Welcome to PetSafe</h1>
                <p class="lead">PetSafe its a platform that allows you to keep track of your pet, making it easy and simple to track its location if it gets lost. You will also be able to keep its medical history and vaccination history up to date, create a pet online profile.  </p>
                <hr class="my-4">
                <p class="lead">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <a class="btn btn-primary btn-sm" href="/start/" role="button">Get Started</a>
        </div>
    </div>
</div>
{% endblock %}