{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Pets Safe</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Pets Care Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
		SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
		<script type="application/x-javascript">
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);
	
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!-- Custom Theme files -->
		<link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
		<link href="{% static 'css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css' />
		<!-- easy-responsive-tabs -->
	
		<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
		<!-- font-awesome icons -->
		<!-- //Custom Theme files -->
		<!-- js -->
		<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
		<!-- //js -->
		<!-- web-fonts -->
		<link href="//fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Junge" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
			rel='stylesheet' type='text/css'>
		<!-- //web-fonts -->
	</head>

<body>
	<div class="agileits-banner about-w3banner">
		<div class="bnr-agileinfo">
			{% include 'navbar.html' %}
		</div>
	</div>
<!-- single -->
	<div class="single welcome">
		<div class="container">
			<h3 class="agileits-title">{{my_pet.pet_name}}</h3>
			<div class="markets-grids">
				<div class="col-md-7 w3ls_single_left">
					<div class="w3ls_single_left_grid">
						<div class="w3ls_single_left_grid_right">
							<h3>Date of Birth:</h3>
							<h5>{{my_pet.pet_birth_date}}</h5>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3ls_single_left_grid1">
						<img src="{{ my_pet.pet_image.url }}" alt=" " class="img-responsive" />
						<p style="text-align: justify;">{{my_pet.description}}</p>
					</div>
				</div>
				<div class="col-md-5 w3ls_single_right">
					<div class="wthree_recent">
						<h4>Owner Information</h4>
						<ul>
							<li><i class="fa fa-check" aria-hidden="true"></i>Name: {{my_pet.pet_owner.fname}} {{my_pet.pet_owner.lname}}<span>
							<li><i class="fa fa-check" aria-hidden="true"></i>Cell Phone: {{my_pet.pet_owner.cphone}}<span>
							<li><i class="fa fa-check" aria-hidden="true"></i>Home Phone: {{my_pet.pet_owner.hphone}}<span>
							<li><i class="fa fa-check" aria-hidden="true"></i>E-mail: {{my_pet.pet_owner.email}}<span>					
							</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="copy-w3right">
		<div class="container">
			<p>© 2021Pet Safe. All Rights Reserved</p>
		</div>
	</div>
	<script src="js/SmoothScroll.min.js"></script>
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/bootstrap.js"></script>


</body>

</html>